/* Generic pane rules */

body { overflow-x: hidden; padding: 0; margin: 0; width: 100%; height: 100%;
  -webkit-text-size-adjust: none; -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;  
}

/* A Page-wrapper is stretched to the entire size of it's container */
.page-wrapper { overflow: visible; position: absolute; top:0; left: 0; bottom: 0; right: 0; }

/* The page-viewport marks where the jQM ui-mobile-viewport will be located */
.page-viewport {}

/* rows, cols, and pages divs are absolutely positioned and do not show scroll bars */
.row, .col { overflow: hidden; position: absolute; }

/* For absolutely positioned divs, rows are 100% in width */
.row { left: 0; right: 0; }

/* For absolutely positioned divs, cols are 100% in height */
.col { top: 0; bottom: 0; }

/* Scroll bars: Horizontal */
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }

/* Scroll bars: Vertical */
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }

/* Panes are layed out stretched horizontally and vertically to fill their containers.  */
.fill, .pane { position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100% }
.pane { display: none; }

.header { top:0;}
.footer { bottom: 0; }

/* Workaround: in landscape mode, IEMobile makes bottom toolbar overlap the page, so shorten the page by 75px to compensate */
.iemobile .page { bottom: -6px; }
@media screen and (orientation:landscape) { .iemobile .page { bottom: 75px; } }/* Generic pane rules */
